 /*General for HTML and PDF*/

 header {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 2%;
  width: 100%;
}

.header-link {
  text-align: center;
}


body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.8;
  padding: 2%;
  background-color: #0f0f0f;
}

body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }

a {
  color: #86b9fc;
  font-size: 1em;
  font-weight:bolder;
  font-family:Tahoma;
}
a.absent {
  color: #58ddf5ce; }
a.anchor {
  display: block;
  padding-left: 6%;
  margin-left: -6%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }


.navbar-header {
  display: inline-block;
  color:#cccccc;
  left: 0;
  top: 0;
  padding: 2%;
  text-align: left;
  max-width: 25%;
}

.navbar {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  padding: 2%;
  max-width: 200px;
  text-align: left;
}

.container {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 4% 0 2%;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 2em;
  color: rgba(233, 233, 233, 0.945); }

h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #cccccc;
  color: rgba(233, 233, 233, 0.945); }

h3 {
  font-size: 1.2em; 
  color: rgba(233, 233, 233, 0.945);
}

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  color: whitesmoke;
  font-size: 14px; }

pre.hljs {
    border:none;
    padding: 12px;
}

code {
    background-color: #5a6880;
    color: whitesmoke;
}

p, blockquote, ul, ol, dl, li, table, pre.hljs {
  margin: 15px 0;
  color: rgba(245, 245, 245, 0.836);
 }

hr {
  background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

li p.first {
  display: inline-block; }

ul, ol {
  padding-left: 0px; }

ul :first-child, ol :first-child {
  margin-top: 0; }

ul :last-child, ol :last-child {
  margin-bottom: 0; }





img {
  max-width: 100%; }

.nav-container  ul, .nav-container  ol {
    margin-left: 0px;
    padding-left: 0px;
}

.nav {
    margin:0;
}

.nav-inner > .nav > li:last-child > .nav {
    border-bottom: none;
}

.nav > li {
    margin: 0;
}

.nav > ol {
  line-height: 3;
}

.nav > li.active {
    line-height: 1.2;
    padding: 2% 4%;
}

.nav > .navbar-nav > > nav > li.active {
  line-height: 1.2;
  padding: 2% 4%;
}

/*For HTML*/
.html-doc {
    padding-top: 3% !important;
    padding-left: 3%;
    margin-left: 3%;
}


.page:before {
  content:"";
  display:block;
  height:55px; /* fixed header height*/
  margin:-55px 0 0; /* negative fixed header height */
}

.page {
  height:1px;
  font-size:1px;
  width: 1px;
  padding:50px 0 0 0;
  margin: -50px 0 0 0;
}

.html-doc .nav li a:before, .html-doc .nav li span:before {
    content: "\00B7  ";
}



@media (max-width: 992px) {
    .html-doc .nav-container > .nav-inner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: none;
    }
}

@media (max-width: 992px) {
  .html-doc .nav {
      text-align: center;
      font-size: 1.2em;
  }
}

@media (max-width: 992px) {
  .html-doc {
      text-align: left;
      font-size: 1.6em;
  }
}

@media (min-width: 992px) {
    .navbar > .container .doc-title {
        margin-left: 10px;
    }
    .navbar-right {
        margin-right: 10px;
    }
}

@media (min-width: 800px) {
    .nav-inner {
        min-width: 130px;
    }
}

@media (min-width: 1000px) {
    .nav-inner {
        min-width: 200px;
    }
}

